<div class="container">

  <app-header></app-header>


  <div class="content">

    <div class="test-block">
      <div class="left-img">
        <img src="assets/images/tests.png" alt="tests">
      </div>
      <div class="right-text">
        <h2>GENERATE UNIT TESTS</h2>
        <p>You can use a full project, a module or a file</p>
        <button class="button" routerLink="/language">Go!</button>
      </div>

    </div>



    <div class="separator"></div>


    <div class="quality-block">
        <div class="right-text">
            <h2>AXIOM Complexity</h2>
            <p>You can use a full project, a module or a file</p>
            <button class="button">Go!</button>
          </div>
      <div class="left-img">
        <img src="assets/images/quality.png" alt="tests">
      </div>
    </div>

  </div>

    <!-- <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a> -->

            <!-- <input id="selectConnector" type="file" #selectConnector class="fileLoader" (change)="filesPicked(selectConnector.files)"
      webkitdirectory directory multiple> -->

    <!-- <button (click)="openDirectory()">Get Folder</button>
    <button (click)="openFile()">Get File</button> -->



</div>
