<div class="all-page">
    <div class="top-bar">
        <a class="title-page" href="http://localhost:4200/">Kuzzy demonstration</a>
    </div>

    <div class="main-container">
        <div class="menu-left">
            <div class="div-button" (click)="displayMethod('delete')">
                <span>delete()</span>
            </div>
            <div class="div-button" (click)="displayMethod('get-all')">
                <span>getAll()</span>
            </div>
            <div class="div-button" (click)="displayMethod('get-array')">
                <span>getArray()</span>
            </div>
            <div class="div-button" (click)="displayMethod('get-one')">
                <span>getOne()</span>
            </div>
            <div class="div-button" (click)="displayMethod('create')">
                <span>post()</span>
            </div>
            <div class="div-button" (click)="displayMethod('update')">
                <span>update()</span>
            </div>
        </div>
        <div class="right-part">
            <div class="method-header">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>
