<div class="container">

    <app-header></app-header>




    <div class="content">

        <div class="automatic-mode">
            <video width="500" height="400" controls>
                <source src=https://temp.media/video/?height=300&width=400&length=10 type="video/mp4"></video>

            <h1>Automatic Mode</h1>
            <button class="button" routerLink="/loader">Generate!</button>


        </div>


        <div class="separator"></div>


        <div class="manual-mode">
            <video width="500" height="400" controls>
                <source src=https://temp.media/video/?height=300&width=20&length=10 type="video/mp4"></video>

            <h1>Manual Mode</h1>
            <button class="button" routerLink="/loader">I Want Control!</button>


        </div>

    </div>

</div>
